header {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.align {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 30px;
}
