header {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

#images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#align {
  font-family: 'Noto Sans', sans-serif;
}
